body {
         color: red;
         background: rgb(0, 0, 0);
         margin: 1px;
}

header {
    border-bottom: solid 2px rgb(0, 0, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 0, 0)
}
